
.title {
  text-align: center;
  font-size: 23px;
  margin: 20px;
}
table {
  margin: 3px auto;
}
table th {
  padding: 25px;
  font-size: 15px;
  text-align: left;
}
ul {
  display: flex;
}
li {
  list-style: none;
  margin-right: 7px;
}
.post {
  display: flex;
}
.p-code {
  margin: 3px;
}
span {
  color: crimson;
  margin-left: 2px;
}
input {
  padding: 5px;
  border: 2px solid Silver;
  border-radius: 5px;
}
textarea {
  border: 2px solid Silver;
  border-radius: 5px;
  margin-top: 3px;
  width: 350px;
  height: 100px;
  resize: none;
}
.exa {
  font-size: 14px;
  color: gray;
  margin: 8px;
}
.sub-btn {
  text-align: center;
}
.s-btn {
  background-color: black;
  color: white;
  width: 10%;
  border-radius: 5px;
  padding: 5px
}
.radio {
  transform: scale(2);
  margin-left:10px;
}
.vali {
  color: crimson;
}